html, body{
    height: 100%;
    font-family: Inter, sans-serif;
    overflow: hidden;

}

body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_screen {
    height: 512px;
    width: 750px;
    border-radius: 25px;
    background: #353535;
}

.elements{
    display: flex;
    justify-content: center;
    gap: 70px;
    height: 100%;
    align-items: center;
    user-select: none;
}

.btn {
    color: #FFFF;
    background: #2751A3;
    border: 1px solid black;
}

.btn.play {
    font-size: 27px;
    border-radius: 14px;
    width: 168px;
    height: 90px;
}

.home_text {
    font-size: 37px;
    color: #BEBFD1;
}